*,
*::before,
*::after{
    box-sizing: border-box;
}
/*custom properties*/
:root{
    --ff-primary:'Zen Kurenaido', sans-serif;
    --ff-secondary:'Montserrat', sans-serif;

    --fw-reg:200;
    --fw-bold:700;

    --clr-light: #fff;
    --clr-dark:#303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1 rem;    
}

@media (min-width:800px){
    :root{
        --fs-h1:4.5 rem;
        --fs-h2:3.75 rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}

/*General styling*/
body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width:100%;
}

strong{
    font-family: var(--ff-secondary);
    font-weight: 600;
}
section{
    padding: 5em 2em;
}
/*Typography*/
h1,
h2,
h3{
    line-height: 1.1;
    margin:0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section_title{
margin-bottom: .25em;
}
.section_title-intro{
    font-weight: var(--fw-reg);
}
.section_title-intro strong{
    display: block;
}
.section_subtitle{
    margin:0;
    font-size: var(--fs-h3);

}
.section_subtitle-intro,
.section_subtitle-about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

nav{
    display:none;
}
/*Intro section*/
.intro{
    position: relative;
}
@media(min-width:600px){
    .intro{
        display: grid;
        width: min-content;
        grid-template-columns: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro_img{
        grid-area:img;
        min-width: 250px;
    }
    .section_subtitle-intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em
    }
}